/*       общие классы              */


body {
  /*background-color: #000000;*/
  margin: 0;
  padding: 0;
  font-family: Roboto,sans-serif;
  min-width: 480px;
}

img {
  display: block;
}

a{
	text-decoration: none;
  color: #000000;

}

/*       верхнее меню                   */

.topbar {
    height: 100px;
    background-color: #4effee;
    width: 100%;
    border-bottom: 3px solid rgb(236, 236, 236);
}

  .logo{
    background-color: #e9e9e9;
    width: 200px;
    height: auto;
    margin-left: 100px;
    padding: 20px 0 0 0;
    float: left;
  }

  .imagelogo{
    width: 200px;
    background-color: #4e4e4e;

}


.menu{
  margin: 0;
  padding: 0;
  background-color: blueviolet;
  margin-left: auto;
  margin-right: 100px;
  height: 100px;
  width: 500px;
  text-align: center;
  white-space: nowrap;
  
}

.menu li {
  display: inline-block;
  width: auto;
  height: 60px;
  padding-top: 30px;
  background-color: chartreuse;
  font-size: 20px;
  font-weight: 600;
}

.menu li:nth-child(2){
  margin: 0 30px;
}
.menu li:nth-child(3){
  margin-right: 30px;
}

.menu li:hover:nth-child(-n+2) {
  border-bottom: 3px solid rgb(230, 230, 230);
}


/*       мобильное меню                   */

.mobile_menu{ /* повесить на переключатель */ 
  display: none;
}


.mobile_icon{
  display: none;
}





/*       Медиазапросы                  */


@media screen and (max-width: 960px){
  .logo{
    margin-left: 30px;
  }
  .menu{
    margin-right: 0px;
  }
}

@media screen and (max-width: 720px){
  .logo{
    margin-left: 0px;
  }
  .menu{
    width: 100px;
  }
  .menu li{
    display: none;
  }
  .mobile_icon{
    position: relative;
    display: block;
    width: 50px;
    left: 25px;
    top: 20px;
  }


  .mobile_menu{ /* повесить на переключатель */ 
    display: none;
    position: absolute;
    margin: 0;
    padding: 0;
    background-color: white;
    width: 100%;
    height: 100%;
  }

  .show {
    display: block;
  }

  .mobile_menu li {
    padding: 50px 0px 50px 100px;
  }
}



@media screen and (max-width: 540px){
  
}


@media screen and (max-height: 120px){ /* костыль  */
  body{
    overflow: hidden;
  }
}