* {
  box-sizing: border-box
}

body {
  min-width: 1200px;
  font-family: Noto Sans, sans-serif;
  background-color: #F7F7F7;
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.logo{
	width: 113px;
	height: 50px;
}



.topinfo {
  list-style: none;
  display: flex;
  height: 100px;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0 20px;
}


.line{
	width: 2px;
	height: 50px;
	border-left: 2px solid #7a7a7a;
	margin: 0px 15px;
}

.bigline{
	width: 2px;
	height: 80px;
	border-left: 2px solid #7a7a7a;
	margin: 0px 15px;
}

.topinfo li:first-child{
	width:140px;
	margin-left: 110px;
}


.topinfo li:last-child{
	font-size: 16pt;
	width:250px; 
}

.topinfo li{
}

.companyname{
	font-size: 24pt;
	width: 340px;

	
}
.headerinfo{
	font-size: 16pt;
	width: 350px;
}

a[href^="tel"]{
	text-decoration: none;
	color: #000000;
}



.navibar{
	display: flex;
	height: 60px;
    background-color: #ffd43e;
    border-top: 2px solid #7a7a7a;
    border-bottom: 2px solid #7a7a7a;
	list-style: none;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0 400px;
}

